@media screen and (min-width:380px){
    .mainApp{
        width:100vw;
        height:100vh;
        background-color:var(--FadeRed);
        animation-name:enterApp;
        animation-duration: 0.5s;
        animation-iteration-count:calc(1);
        .mainAppInformations{
            // padding:2em;
            // display:grid;
            // grid-template-areas: "left right";
            // grid-template-columns: 40% 60%;
            width:100%;
            height:100%;
            padding:0 2em;
            margin-top:1em;
            display:flex;
            justify-content:space-between;
            .informations{
                // padding-left:2em;
                // min-width:400px;
                // max-height:550px;
                // grid-area:right;
                // display:flex;
                // flex-wrap:wrap;
                // gap:2em;
                display: flex;
                flex-direction: column;
                height: 79%;
                margin-left: 1em;
                overflow-y:scroll;
                h2{
                    text-transform:uppercase;
                    color:var(--White);
                }
                .episodes{
                    width:100%;
                    height:90%;
                    display:flex;
                    gap:2em;
                    flex-wrap:wrap;
                }
                .episodes::-webkit-scrollbar{
                    width:0;
                }
            }
            .informations::-webkit-scrollbar{
                width:0;
            }
        }
    }
}

@media screen and (max-width:379px){
    .mainApp{
        border:2px solid blue;
        .mainAppInformations{
            border:2px solid pink;
            display:flex;
            flex-direction:column;
            align-items:center;
        }
    }
}