header{
    display:flex;
    align-items:center;
    z-index:100000;
    .navigation{
        display:flex;
        gap:1em;
        button{
            background-color:transparent;
            font-weight:700;
            text-transform:uppercase;
            a{
                text-decoration-line:none;
            }
        }
    }
}

@media screen and (min-width:420px){
    header{
        max-height:100px;
        justify-content:space-between;
        padding:1em;
        background-color:var(--DesaturedYellow);
        .logo{
            display:flex;
            align-items:center;
            gap:2em;
            img{
                width:200px;
            }
        }
    }
    .navigation{
        align-items:center;
        button{
            color:var(--VibrantRed);
            transition:0.2;
            border:1px solid var(--VibrantRed);
            padding:0.2em 0.6em;
            transition:0.2s;
            a{
                color:var(--VibrantRed);
            }
            a:hover{
                color:var(--SolidBlack);
            }
        }
        button:hover{
            cursor:pointer;
            color:var(--SolidBlack);
            border-color:var(--SolidBlack);
            box-shadow:3px 3px var(--SolidBlack);
        }
    }
}

@media screen and (max-width:419px){
    header{
        width:100%;
        flex-direction:column;
        gap:0.5em;
        padding:0.5em 0;
        background-color:var(--FadeRed);
        position:sticky;
        top:0px;
        .logo{
            img{
                width:180px;
            }
        }
        .navigation{
            button{
                border:none;
                outline:0;
                color:var(--VibrantYellow);
                border-bottom:2px solid transparent;
            }
            button:focus{
                border-bottom: 2px solid var(--VibrantYellow);
            }
        }
        .navigation button:last-child{
            padding:0.2em 0.4em;
            border: 2px solid var(--VibrantYellow);
            border-radius:5px;
            color:var(--VibrantYellow);
            a{
                color:var(--VibrantYellow);
            }
        }
    }
}