.seasons{
    display:flex;
    align-items:center;
    border-radius:10px;
    margin:0.5em 0;
    padding:1em;
    img{
        border-radius:5px;
    }
}
@media screen and (min-width:420px){
    .seasons{
        border:2px solid var(--VibrantYellow);
        flex-direction:column;
        gap:1em;
        img{
            height:100px;
        }
    }
}
@media screen and (max-width:419px){
    .seasons{
        border:2px solid var(--VibrantRed);
        height:100px;
        width:100%;
        justify-content:space-between;
        img{
            height:70px;
        }
    }
}