.ep{
    display:flex;
    flex-direction:column;
    background-color:var(--PaleDark);
    .poster{
        overflow:hidden;
        img{
            width:100%;
        }
        svg{
            width:5em;
            height:5em;
            position:relative;
            bottom:50%;
            left:50%;
            transform:translate(-50%,-50%);
            z-index:10;
        }
    }
    span{
        text-align:center;
        position:relative;
        text-align:center;
        font-weight:700;
        color:var(--White);
        background-color:var(--FadeBlack);
    }
    .controls{
        display:flex;
        align-items:center;
        justify-content:center;
        gap:2em;
        overflow:hidden;
        button{
            width:100%;
            display:flex;
            align-items:center;
            justify-content:center;
            gap:1em;
            padding:0.2em 0;
            font-weight:700;
            text-transform:capitalize;
            border:none;
            outline:0;
            color:var(--White);
            background-color:transparent;
            transition:0.1s;
        }
    }
}
.video{
    width:100%;
    height:100%;
    display:grid;
    place-items:center;
    background-color:var(--PaleDark);
}
@media screen and (min-width:420px){
    .ep{
        width:100%;
        max-width:450px;
        min-width:400px;
        height:79%;
        flex-shrink: 0;
        .poster{
            width:100%;
            height:100%;
            cursor:pointer;
            img{
                height:100%;
                transition:0.2s;
            }
            img:hover{
                transform:scale(1.4,1.4)
            }
        }
        .controls{
            button{
                svg{
                    width:2em;
                    height:2em;
                }
            }
            button:hover{
                cursor:pointer;
                transform:scale(1.2,1.2);
                opacity:0.5;
            }
        }
    }
    .video{
        height:79%;
        width:100%;
        max-width:550px;
    }
}

@media screen and (max-width:419px){
    .ep{
        max-width:300px;
        max-height:460px;
        border-radius:5px;
        box-shadow:0px 0px 10px var(--LightGray);
        border:2px solid var(--White);
        margin:1em 0;
        .poster{
            img{
                min-height:390px;
                height:100%;
            }
        }
        .controls{
            button{
                svg{
                    width:2em;
                    height:2em;
                }
            }
        }
    }
}