@media screen and (min-width:420px){
    p:hover{
        cursor:pointer;
        text-decoration-line:underline;
        color:var(--VibrantRed);
    }
    .error-hint{
        list-style-type:square;
        width:90%;
        li{
            font-size:12px;
        }
    }
}

@media screen and (max-width:419px){
    form{
        label{
            margin-bottom:0;
        }
    }
    .error-hint{
        list-style-type:square;
        width:80%;
        li{
            font-size:12px;
        }
    }
}