@media screen and (min-width:420px){
    p:hover{
        cursor:pointer;
        text-decoration-line:underline;
        color:var(--VibrantRed);
    }
    .error-hint{
        list-style-type:square;
        width:90%;
        li{
            font-size:12px;
        }
    }
}

@media screen and (max-width:419px){
    form{
        label{
            margin-bottom:0;
        }
    }
    .error-hint{
        list-style-type:square;
        width:80%;
        li{
            font-size:12px;
        }
    }
}

.dialog{
    width:100%;
    display:flex;
    justify-content:space-between;
    animation-name:enterApp;
    animation-duration:var(--ShortTime);
    animation-iteration-count:1;
    h3{
        color:var(--FadeRed);
    }
    button{
        outline:0;
        border:none;
        background:transparent;
        font-weight:500;
        color:var(--NavyBlue);
        text-decoration:underline;
        &:hover{
            cursor:pointer;
            color:var(--DesaturedYellow);
            transition:var(--ShortTime);
        }
    }
}