@media screen and (min-width:380px){
    main{
        display:flex;
        align-items:center;
        aside{
            position:relative;
            right:0;
            height:500px;
            width:400px;
            background-image:url("./assets/animated-bg.gif");
            background-size:cover;
            border-radius:10px;
            animation-name:animateAside;
            animation-iteration-count:1;
            animation-duration:1s;
            animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);

        }
        form{
            position:relative;
            right:2em;
            animation-name:animateForm;
            animation-iteration-count:1;
            animation-duration:1s;
            animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
}




