main{
    display:flex;
    align-items:center;
    aside{
        position:relative;
        background-image:url("../../assets/animated-bg.gif");
        background-size:cover;
        border-radius:10px;
        animation-name:animateAsideMobile;
        animation-iteration-count:1;
        animation-duration:1s;
        animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    form{
        position:relative;
        animation-iteration-count:1;
        animation-duration:1s;
        animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

@media screen and (min-width:420px){
        main{
            aside{
                right:0;
                height:500px;
                width:400px;
                animation-name:animateAside;   
            }
            form{
                right:2em;
                animation-name:animateForm; 
            }
        }
}

@media screen and (max-width:419px){
    main{
        width:100vw;
        height:100%;
        flex-direction:column;
        padding:1em 0;
        background-image:linear-gradient(to bottom, var(--VibrantRed), var(--VibrantYellow));
        aside{
            height:70%;
            width:90%;
            min-height:350px;
            top:4em;
        }
        form{
            h1{
                color:var(--VibrantYellow);
            }
            width:80%;
            height:50%;
            top:-4em;
            animation-name:animateFormMobile;
        }
    }
}